body{
    background-color:#ffffff;
    font-family: sans-serif;
    background-image: url("voto.png");
    background-size: cover;

}

.kalkulator{
    width: 335px;
    background-color: #e7852f;
    margin:100px auto;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    box-shadow: 0px 15px 15px 0px #000000;
}

.bil{
    width: 300px;
    margin: 15px;
    border: none;
    font-size: 15px;
    border-radius: 15px;
    padding: 5px;
}

.opt{
    width: 310px;
    font-size: 10pt;
    border: none;
    margin: 15px;
    margin-top: 5px;
    border-radius: 15px;
    padding: 5px;
}

.tombol{
    background: #000000;
    border-top: none;
    border-right: none;
    border-radius: 20px;
    width: 100px;
    padding: 5px 25px;
    color: #ffffff;
    font-size: 10pt;
    margin: 30px;
    margin-top: 15px;
    border-bottom: 4px solid #000000;
}
button{
    background: #ffffff;
    border-top: none;
    border-right: none;
    border-radius: 20px;
    width: 280px;
    padding: 10px 10px;
    color: #ffffff;
    margin: 30px;
    margin-top: 15px;
    border-bottom: 4px solid #000000;
}
.judul{
    text-align: center;
    color: #ffffff;
    font-weight: normal;
}



